<!DOCTYPE html>
<html lang="en">
    <body>
        {% include 'header.html' %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('../static/assets/img/about-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>about the blog</h1>
                            <span class="subheading">why i created this blog?</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Hello there! Thank you for coming to this blog site. This is a project that I did on my own to practice what I have learnt. Some skills that I applied here are APIs, Jinja templating and URL building with Flask. </p>
                        <p>While this might sound simple, it took me some time to actually get this blog up. I obtained the template of the blog from startbootstrap.com (https://startbootstrap.com/previews/clean-blog). Thereafter, I used the flask module to create a Flask application to route between the different URL pages. My biggest takeaway was definitely learning how to render the blog posts from an API and rendering the individual posts effectively.</p>
                        <p>Another challenging part was learning how to make the contact form work. Interested to learn together with me? Interested in my personal projects? Head over to my personal website https://jingkai27.github.io/website/ and drop me a text there! Would love to see how we can work together in any ways possible. </p>
                    </div>
                </div>
            </div>
        </main>
        {% include 'footer.html' %}

    </body>
</html>
